
.swiper-slide {
    flex-grow: 0;
}

.swiper-slide  div {
    width: 250px;
    margin-right: 0;
    margin-left: 0;
}

.swiper-wrapper  div img {
    width: 250px;
}



.anime-extra-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.anime-description {
    text-align: center;
    width: 100%;
    margin: .4rem 0;
}

.anime-score {
    color: #d4a03e;
    font-weight: bold;
}